domain-generator/noark_5.xsd

<xsd:schema targetNamespace='http://www.machina.no/noark' xmlns:ecore='http://www.eclipse.org/emf/2002/Ecore' xmlns:noark='http://www.machina.no/noark' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
  <xsd:complexType name='Arkiv'>
    <xsd:annotation>
      <xsd:documentation>Metadata for arkiv¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name='Systemid' type='xsd:string' />
      <xsd:element name='Tittel' type='xsd:string' />
      <xsd:element name='Beskrivelse' type='xsd:string' />
      <xsd:element name='Arkivstatus' type='xsd:string' />
      <xsd:element name='Dokumentmedium' type='xsd:string' />
      <xsd:element name='Oppbevaringssted' type='xsd:string' />
      <xsd:element name='Opprettetdato' type='xsd:dateTime' />
      <xsd:element name='Opprettetav' type='xsd:string' />
      <xsd:element name='Avsluttetdato' type='xsd:dateTime' />
      <xsd:element name='Avsluttetav' type='xsd:string' />
      <xsd:element name='Referanseforelder' type='noark:Arkiv' />
      <xsd:element name='Referansebarn_arkivdel' type='noark:Arkivdel' />
      <xsd:element name='Referansebarn_arkiv' type='noark:Arkiv' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='Arkivskaper'>
    <xsd:annotation>
      <xsd:documentation>Metadata for arkivskaper¤¤¤¤¤
 ¤¤¤¤¤
Grupperes inn i:        Arkiv¤¤¤¤¤
Forekomst:               1-M¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name='Arkivskaperid' type='xsd:string' />
      <xsd:element name='Arkivskapernavn' type='xsd:string' />
      <xsd:element name='Beskrivelse' type='xsd:string' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='Arkivdel'>
    <xsd:annotation>
      <xsd:documentation>Metadata for arkivdel¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name='Systemid' type='xsd:string' />
      <xsd:element name='Tittel' type='xsd:string' />
      <xsd:element name='Beskrivelse' type='xsd:string' />
      <xsd:element name='Arkivdelstatus' type='xsd:string' />
      <xsd:element name='Dokumentmedium' type='xsd:string' />
      <xsd:element name='Oppbevaringssted' type='xsd:string' />
      <xsd:element name='Opprettetdato' type='xsd:dateTime' />
      <xsd:element name='Opprettetav' type='xsd:string' />
      <xsd:element name='Avsluttetdato' type='xsd:dateTime' />
      <xsd:element name='Avsluttetav' type='xsd:string' />
      <xsd:element name='Arkivperiodestartdato' type='xsd:dateTime' />
      <xsd:element name='Arkivperiodesluttdato' type='xsd:dateTime' />
      <xsd:element name='Referanseforelder' type='noark:Arkiv' />
      <xsd:element name='Referanseforløper' type='noark:Arkivdel' />
      <xsd:element name='Referansearvtaker' type='noark:Arkivdel' />
      <xsd:element name='ReferanseklassifikasjonsSystem' type='noark:Klassifikasjonssystem' />
      <xsd:element name='Referansemappe' type='noark:Basismappe' />
      <xsd:element name='Referanseregistrering' type='noark:ForenkletRegistrering' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='Klassifikasjonssystem'>
    <xsd:annotation>
      <xsd:documentation>Metadata for klassifikasjonssystem¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name='Systemid' type='xsd:string' />
      <xsd:element name='Klassifikasjonstype' type='xsd:string' />
      <xsd:element name='Tittel' type='xsd:string' />
      <xsd:element name='Beskrivelse' type='xsd:string' />
      <xsd:element name='Opprettetdato' type='xsd:dateTime' />
      <xsd:element name='Opprettetav' type='xsd:string' />
      <xsd:element name='Avsluttetdato' type='xsd:dateTime' />
      <xsd:element name='Avsluttetav' type='xsd:string' />
      <xsd:element name='Referansebarn' type='noark:Klasse' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='Klasse'>
    <xsd:annotation>
      <xsd:documentation>Metadata for klasse¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name='Systemid' type='xsd:string' />
      <xsd:element name='Klasseid' type='xsd:string' />
      <xsd:element name='Tittel' type='xsd:string' />
      <xsd:element name='Beskrivelse' type='xsd:string' />
      <xsd:element name='Nøkkelord' type='xsd:string' />
      <xsd:element name='Opprettetdato' type='xsd:dateTime' />
      <xsd:element name='Opprettetav' type='xsd:string' />
      <xsd:element name='Avsluttetdato' type='xsd:dateTime' />
      <xsd:element name='Avsluttetav' type='xsd:string' />
      <xsd:element name='Referanseforelder_klassifikasjonssystem' type='noark:Klassifikasjonssystem' />
      <xsd:element name='Referanseforelder_klasse' type='noark:Klasse' />
      <xsd:element name='Referansebarn_klasse' type='noark:Klasse' />
      <xsd:element name='Referansebarn_basismappe' type='noark:Basismappe' />
      <xsd:element name='Referansebarn_forenkletRegistrering' type='noark:ForenkletRegistrering' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='Basismappe'>
    <xsd:annotation>
      <xsd:documentation>Metadata for basismappe¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name='Systemid' type='xsd:string' />
      <xsd:element name='Mappeid' type='xsd:string' />
      <xsd:element name='Mappetype' type='xsd:string' />
      <xsd:element name='Tittel' type='xsd:string' />
      <xsd:element name='Offentligtittel' type='xsd:string' />
      <xsd:element name='Beskrivelse' type='xsd:string' />
      <xsd:element name='Nøkkelord' type='xsd:string' />
      <xsd:element name='Dokumentmedium' type='xsd:string' />
      <xsd:element name='Oppbevaringssted' type='xsd:string' />
      <xsd:element name='Opprettetdato' type='xsd:dateTime' />
      <xsd:element name='Opprettetav' type='xsd:string' />
      <xsd:element name='Avsluttetdato' type='xsd:dateTime' />
      <xsd:element name='Avsluttetav' type='xsd:string' />
      <xsd:element name='Referanseforelder_klasse' type='noark:Klasse' />
      <xsd:element name='Referanseforelder_basismappe' type='noark:Basismappe' />
      <xsd:element name='Referansebarn_forenkletRegistrering' type='noark:ForenkletRegistrering' />
      <xsd:element name='Referansebarn_basismappe' type='noark:Basismappe' />
      <xsd:element name='Referansearkivdel' type='noark:Arkivdel' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='Saksmappe'>
    <xsd:annotation>
      <xsd:documentation>Metadata for saksmappe¤¤¤¤¤
 ¤¤¤¤¤
Metadata for basismappe inngår i saksmappe, følgende metadata kommer i tillegg.¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base='noark:Basismappe'>
        <xsd:sequence>
          <xsd:element name='Saksdato' type='xsd:dateTime' />
          <xsd:element name='Administrativenhet' type='xsd:string' />
          <xsd:element name='Saksansvarlig' type='xsd:string' />
          <xsd:element name='Journalenhet' type='xsd:string' />
          <xsd:element name='Saksstatus' type='xsd:string' />
          <xsd:element name='Utlåntdato' type='xsd:dateTime' />
          <xsd:element name='Utlånttil' type='xsd:string' />
          <xsd:element name='ReferansesekundærKlassifikasjon' type='noark:Klasse' />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name='Sakspart'>
    <xsd:annotation>
      <xsd:documentation>Metadata for sakspart¤¤¤¤¤
 ¤¤¤¤¤
Grupperes inn i:        Saksmappe¤¤¤¤¤
Forekomst:               0-M¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name='Sakspartid' type='xsd:string' />
      <xsd:element name='Sakspartnavn' type='xsd:string' />
      <xsd:element name='Sakspartrolle' type='xsd:string' />
      <xsd:element name='Postadresse' type='xsd:string' />
      <xsd:element name='Postnummer' type='xsd:string' />
      <xsd:element name='Poststed' type='xsd:string' />
      <xsd:element name='Utenlandsadresse' type='xsd:string' />
      <xsd:element name='Epostadresse' type='xsd:string' />
      <xsd:element name='Telefonnummer' type='xsd:string' />
      <xsd:element name='Kontaktperson' type='xsd:string' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='Møtemappe'>
    <xsd:annotation>
      <xsd:documentation>Metadata for møtemappe¤¤¤¤¤
 ¤¤¤¤¤
Metadata for basismappe inngår i møtemappe, følgende metadata kommer i tillegg.¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base='noark:Basismappe'>
        <xsd:sequence>
          <xsd:element name='Møtenummer' type='xsd:string' />
          <xsd:element name='Utvalg' type='xsd:string' />
          <xsd:element name='Møtedato' type='xsd:dateTime' />
          <xsd:element name='Møtested' type='xsd:string' />
          <xsd:element name='Referanseforrigemøte' type='noark:Basismappe' />
          <xsd:element name='Referansenestemøte' type='noark:Basismappe' />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name='Møtedeltaker'>
    <xsd:annotation>
      <xsd:documentation>Metadata for møtedeltaker¤¤¤¤¤
 ¤¤¤¤¤
Grupperes inn i:        Møtemappe¤¤¤¤¤
Forekomst:               1-M¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name='Møtedeltakernavn' type='xsd:string' />
      <xsd:element name='Møtedeltakerfunksjon' type='xsd:string' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='ForenkletRegistrering'>
    <xsd:annotation>
      <xsd:documentation>Metadata for forenklet registrering¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name='Systemid' type='xsd:string' />
      <xsd:element name='Registreringstype' type='xsd:string' />
      <xsd:element name='Opprettetdato' type='xsd:dateTime' />
      <xsd:element name='Opprettetav' type='xsd:string' />
      <xsd:element name='Arkivertdato' type='xsd:dateTime' />
      <xsd:element name='Arkivertav' type='xsd:string' />
      <xsd:element name='Referanseforelder_basismappe' type='noark:Basismappe' />
      <xsd:element name='Referanseforelder_klasse' type='noark:Klasse' />
      <xsd:element name='Referansearkivdel' type='noark:Arkivdel' />
      <xsd:element name='ReferansedokumentBeskrivelse' type='noark:Dokumentbeskrivelse' />
      <xsd:element name='ReferansedokumentObjekt' type='noark:Dokumentobjekt' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='Basisregistrering'>
    <xsd:annotation>
      <xsd:documentation>Metadata for basisregistrering¤¤¤¤¤
 ¤¤¤¤¤
Metadata for forenkletRegistrering inngår i basisregistrering, følgende metadata kommer i tillegg.¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base='noark:ForenkletRegistrering'>
        <xsd:sequence>
          <xsd:element name='Registreringsid' type='xsd:string' />
          <xsd:element name='Tittel' type='xsd:string' />
          <xsd:element name='Offentligtittel' type='xsd:string' />
          <xsd:element name='Beskrivelse' type='xsd:string' />
          <xsd:element name='Nøkkelord' type='xsd:string' />
          <xsd:element name='Forfatter' type='xsd:string' />
          <xsd:element name='Dokumentmedium' type='xsd:string' />
          <xsd:element name='Oppbevaringssted' type='xsd:string' />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name='Journalpost'>
    <xsd:annotation>
      <xsd:documentation>Metadata for journalpost¤¤¤¤¤
 ¤¤¤¤¤
Metadata for basisregistrering inngår i journalpost, følgende metadata kommer i tillegg.¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base='noark:Basisregistrering'>
        <xsd:sequence>
          <xsd:element name='Løpenummer' type='xsd:string' />
          <xsd:element name='Journalposttype' type='xsd:string' />
          <xsd:element name='Journalstatus' type='xsd:string' />
          <xsd:element name='Journaldato' type='xsd:dateTime' />
          <xsd:element name='Dokumentetsdato' type='xsd:dateTime' />
          <xsd:element name='Mottattdato' type='xsd:dateTime' />
          <xsd:element name='Sendtdato' type='xsd:dateTime' />
          <xsd:element name='Forfallsdato' type='xsd:dateTime' />
          <xsd:element name='Offentlighetsvurdertdato' type='xsd:dateTime' />
          <xsd:element name='Antallvedlegg' type='xsd:string' />
          <xsd:element name='Utlåntdato' type='xsd:dateTime' />
          <xsd:element name='Utlånttil' type='xsd:string' />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name='Korrespondansepart'>
    <xsd:annotation>
      <xsd:documentation>Metadata for korrespondansepart¤¤¤¤¤
 ¤¤¤¤¤
Grupperes inn i:       Journalpost¤¤¤¤¤
Forekomst:               1-M¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name='Korrespondanseparttype' type='xsd:string' />
      <xsd:element name='Korrespondansepartnavn' type='xsd:string' />
      <xsd:element name='Postadresse' type='xsd:string' />
      <xsd:element name='Postnummer' type='xsd:string' />
      <xsd:element name='Poststed' type='xsd:string' />
      <xsd:element name='Utenlandsadresse' type='xsd:string' />
      <xsd:element name='Epostadresse' type='xsd:string' />
      <xsd:element name='Telefonnummer' type='xsd:string' />
      <xsd:element name='Kontaktperson' type='xsd:string' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='Saksansvar'>
    <xsd:annotation>
      <xsd:documentation>Metadata for saksansvar¤¤¤¤¤
 ¤¤¤¤¤
Grupperes inn i:        Journalpost¤¤¤¤¤
Forekomst:               1-M¤¤¤¤¤
 ¤¤¤¤¤
Ved organinterne dokumenter som skal følges opp, er det behov for å gruppere informasjon om saksansvar fordi denne  kan forekomme flere ganger. ¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name='Administrativenhet' type='xsd:string' />
      <xsd:element name='Saksbehandler' type='xsd:string' />
      <xsd:element name='Journalenhet' type='xsd:string' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='Avskrivning'>
    <xsd:annotation>
      <xsd:documentation>Metadata for avskrivning¤¤¤¤¤
 ¤¤¤¤¤
Grupperes inn i:        Journalpost¤¤¤¤¤
Forekomst:               0-M¤¤¤¤¤
 ¤¤¤¤¤
.Avskrivning er obligatorisk for inngående dokumenter og organinterne dokumenter som skal følges opp.¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name='Avskrivningsdato' type='xsd:dateTime' />
      <xsd:element name='Avskrevetav' type='xsd:string' />
      <xsd:element name='Avskrivningsmåte' type='xsd:string' />
      <xsd:element name='ReferanseavskriverJournalpost' type='noark:ForenkletRegistrering' />
      <xsd:element name='ReferanseavskrivesavJournalpost' type='noark:ForenkletRegistrering' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='Dokumentflyt'>
    <xsd:annotation>
      <xsd:documentation>Metadata for dokumentflyt¤¤¤¤¤
 ¤¤¤¤¤
Grupperes inn i:        Journalpost¤¤¤¤¤
Forekomst:               0-M¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name='Flyttil' type='xsd:string' />
      <xsd:element name='Flytfra' type='xsd:string' />
      <xsd:element name='Flytmottattdato' type='xsd:dateTime' />
      <xsd:element name='Flytsendtdato' type='xsd:dateTime' />
      <xsd:element name='Flytstatus' type='xsd:string' />
      <xsd:element name='Flytmerknad' type='xsd:string' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='Saksfordeling'>
    <xsd:annotation>
      <xsd:documentation>Metadata for saksfordeling¤¤¤¤¤
 ¤¤¤¤¤
Grupperes inn i:        Saksmappe, journalpost¤¤¤¤¤
Forekomst:               0-M¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name='Fordelttil' type='xsd:string' />
      <xsd:element name='Fordeltav' type='xsd:string' />
      <xsd:element name='Fordeltdato' type='xsd:string' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='Møteregistrering'>
    <xsd:annotation>
      <xsd:documentation>Metadata for møteregistrering¤¤¤¤¤
 ¤¤¤¤¤
Metadata for basisregistrering inngår i møteregistrering, følgende metadata kommer i tillegg.¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base='noark:Basisregistrering'>
        <xsd:sequence>
          <xsd:element name='Møteregistreringstype' type='xsd:string' />
          <xsd:element name='Møtesakstype' type='xsd:string' />
          <xsd:element name='Møteregistreringsstatus' type='xsd:string' />
          <xsd:element name='Administrativenhet' type='xsd:string' />
          <xsd:element name='Saksbehandler' type='xsd:string' />
          <xsd:element name='ReferansetilMøteregistrering' type='noark:ForenkletRegistrering' />
          <xsd:element name='Referanseframøteregistrering' type='noark:ForenkletRegistrering' />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name='Dokumentbeskrivelse'>
    <xsd:annotation>
      <xsd:documentation>Metadata for dokumentbeskrivelse¤¤¤¤¤
 ¤¤¤¤¤
En dokumentbeskrivelse kan være knyttet til mer enn en registrering, og ved avlevering vil metadata bli duplisert for hver tilknytning. Referansen til registreringen finnes i objektet dokumentlink nedenfor. ¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name='Systemid' type='xsd:string' />
      <xsd:element name='Dokumenttype' type='xsd:string' />
      <xsd:element name='Dokumentstatus' type='xsd:string' />
      <xsd:element name='Tittel' type='xsd:string' />
      <xsd:element name='Beskrivelse' type='xsd:string' />
      <xsd:element name='Forfatter' type='xsd:string' />
      <xsd:element name='Opprettetdato' type='xsd:dateTime' />
      <xsd:element name='Opprettetav' type='xsd:string' />
      <xsd:element name='Dokumentmedium' type='xsd:string' />
      <xsd:element name='Oppbevaringssted' type='xsd:string' />
      <xsd:element name='ReferansedokumentObjekt' type='noark:Dokumentobjekt' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='Dokumentlink'>
    <xsd:annotation>
      <xsd:documentation>Metadata for dokumentlink¤¤¤¤¤
 ¤¤¤¤¤
Grupperes inn i:        Dokumentbeskrivelse¤¤¤¤¤
Forekomst:               1¤¤¤¤¤
 ¤¤¤¤¤
Det skal opprettes en ny dokumentlink for hver gang et dokument knyttes til en registrering. ¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name='Referanseregistrering' type='noark:ForenkletRegistrering' />
      <xsd:element name='TilknyttetregistreringSom' type='xsd:string' />
      <xsd:element name='Dokumentnummer' type='xsd:string' />
      <xsd:element name='Tilknyttetdato' type='xsd:dateTime' />
      <xsd:element name='Tilknyttetav' type='xsd:string' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='Dokumentobjekt'>
    <xsd:annotation>
      <xsd:documentation>Metadata for dokumentobjekt¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name='Systemid' type='xsd:string' />
      <xsd:element name='Versjonsnummer' type='xsd:string' />
      <xsd:element name='Variantformat' type='xsd:string' />
      <xsd:element name='Format' type='xsd:string' />
      <xsd:element name='Formatdetaljer' type='xsd:string' />
      <xsd:element name='Opprettetdato' type='xsd:dateTime' />
      <xsd:element name='Opprettetav' type='xsd:string' />
      <xsd:element name='ReferansedokumentBeskrivelse' type='noark:Dokumentbeskrivelse' />
      <xsd:element name='Referanseregistrering' type='noark:ForenkletRegistrering' />
      <xsd:element name='Referansedokumentfil' type='xsd:string' />
      <xsd:element name='Sjekksumdokument' type='xsd:string' />
      <xsd:element name='Sjekksumalgoritme' type='xsd:string' />
      <xsd:element name='Filstørrelse' type='xsd:string' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='Kryssreferanse'>
    <xsd:annotation>
      <xsd:documentation>Metadata for kryssreferanse¤¤¤¤¤
 ¤¤¤¤¤
Grupperes inn i:        Klasse, Basismappe, Basisregistrering¤¤¤¤¤
Forekomst:               0-M¤¤¤¤¤
 ¤¤¤¤¤
Referansen kan gå fra en klasse til en annen klasse, fra en mappe til en annen mappe, fra en registrering til en annen registrering, fra en mappe til en registrering og fra en registrering til en mappe. Kryssreferansen  vil også omfatte spesialiseringer.  En kryssreferanse kan derfor gå fra en møtemappe til en saksmappe. ¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name='Referansetilklasse' type='xsd:string' />
      <xsd:element name='Referansefraklasse' type='xsd:string' />
      <xsd:element name='Referansetilmappe' type='xsd:string' />
      <xsd:element name='Referanseframappe' type='xsd:string' />
      <xsd:element name='Referansetilregistrering' type='xsd:string' />
      <xsd:element name='Referansefraregistrering' type='xsd:string' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='Merknad'>
    <xsd:annotation>
      <xsd:documentation>Metadata for merknad¤¤¤¤¤
 ¤¤¤¤¤
Grupperes inn i:       Basismappe, Basisregistrering, Dokumentbeskrivelse¤¤¤¤¤
Forekomst:               0-M¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name='Merknadstekst' type='xsd:string' />
      <xsd:element name='Merknadstype' type='xsd:string' />
      <xsd:element name='Merknadsdato' type='xsd:dateTime' />
      <xsd:element name='Merknadregistrertav' type='xsd:string' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='BevaringOgKassasjon'>
    <xsd:annotation>
      <xsd:documentation>Metadata for bevaring og kassasjon¤¤¤¤¤
 ¤¤¤¤¤
Grupperes inn i:       Arkivdel, Klasse, Basismappe, Forenklet registrering, Dokumentbeskrivelse¤¤¤¤¤
Forekomst:               0-1¤¤¤¤¤
 ¤¤¤¤¤
I Noark 4 har disse attributtene forskjellig navn avhengig av hvilket nivå i arkivstrukturen de er tilknyttet. Nedenfor er tatt med referanse til attributter på saksnivået.¤¤¤¤¤
 ¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name='Kassasjonsvedtak' type='xsd:string' />
      <xsd:element name='Kassasjonshjemmel' type='xsd:string' />
      <xsd:element name='Bevaringstid' type='xsd:string' />
      <xsd:element name='Kassasjonsdato' type='xsd:dateTime' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='Skjerming'>
    <xsd:annotation>
      <xsd:documentation>Metadata for skjerming¤¤¤¤¤
 ¤¤¤¤¤
Grupperes inn i:       Arkivdel, Klasse, Basismappe, Forenklet registrering, Dokumentbeskrivelse¤¤¤¤¤
 ¤¤¤¤¤
Forekomst:               0-1¤¤¤¤¤
 ¤¤¤¤¤
I Noark 4 har disse attributtene forskjellig navn avhengig av hvilket nivå i arkivstrukturen de er tilknyttet. Nedenfor er tatt med referanse til attributter på journalpostnivået.¤¤¤¤¤
 ¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name='Tilgangsrestriksjon' type='xsd:string' />
      <xsd:element name='Skjermingshjemmel' type='xsd:string' />
      <xsd:element name='Skjermingmetadata' type='xsd:string' />
      <xsd:element name='Skjermingdokument' type='xsd:string' />
      <xsd:element name='Skjermingsvarighet' type='xsd:string' />
      <xsd:element name='Skjermingopphørerdato' type='xsd:dateTime' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='Gradering'>
    <xsd:annotation>
      <xsd:documentation>Metadata for gradering¤¤¤¤¤
 ¤¤¤¤¤
Grupperes inn i:       Basismappe, Forenklet registrering, Dokmentbeskrivelse.¤¤¤¤¤
Forekomst:               0-1¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name='Gradering' type='xsd:string' />
      <xsd:element name='Graderingsdato' type='xsd:dateTime' />
      <xsd:element name='Gradertav' type='xsd:string' />
      <xsd:element name='Nedgraderingsdato' type='xsd:dateTime' />
      <xsd:element name='Nedgradertav' type='xsd:string' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='Presedens'>
    <xsd:annotation>
      <xsd:documentation>Metadata for presedens¤¤¤¤¤
 ¤¤¤¤¤
Grupperes inn i:       Saksmappe, Journalpost¤¤¤¤¤
Forekomst:               0-M        ¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name='Presedensdato' type='xsd:dateTime' />
      <xsd:element name='Opprettetdato' type='xsd:dateTime' />
      <xsd:element name='Opprettetav' type='xsd:string' />
      <xsd:element name='Tittel' type='xsd:string' />
      <xsd:element name='Beskrivelse' type='xsd:string' />
      <xsd:element name='Presedenshjemmel' type='xsd:string' />
      <xsd:element name='Rettskildefaktor' type='xsd:string' />
      <xsd:element name='Presedensgodkjentdato' type='xsd:dateTime' />
      <xsd:element name='Presedensgodkjentav' type='xsd:string' />
      <xsd:element name='Avsluttetdato' type='xsd:dateTime' />
      <xsd:element name='Avsluttetav' type='xsd:string' />
      <xsd:element name='Presedensstatus' type='xsd:string' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='VerifiseringAvElektroniskSignatur'>
    <xsd:annotation>
      <xsd:documentation>Metadata for verifisering av elektronisk signatur¤¤¤¤¤
 ¤¤¤¤¤
Grupperes inn i:        Journalpost¤¤¤¤¤
Forekomst:               0-1¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name='ElektronisksignaturSikkerhetsnivå' type='xsd:string' />
      <xsd:element name='ElektronisksignaturVerfisert' type='xsd:string' />
      <xsd:element name='Verifisertdato' type='xsd:dateTime' />
      <xsd:element name='Verfisertav' type='xsd:string' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='KonverteringTilArkivformat'>
    <xsd:annotation>
      <xsd:documentation>Metadata for konvertering til arkivformat¤¤¤¤¤
 ¤¤¤¤¤
Grupperes inn i:       Dokumentobjekt¤¤¤¤¤
Forekomst:               0-1¤¤¤¤¤
 ¤¤¤¤¤
Metadata for konvertering skal grupperes i metadata for dokumentobjekt. Konvertering er valgfritt, og kan forekomme en gang.¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name='Konvertertdato' type='xsd:dateTime' />
      <xsd:element name='Konvertertav' type='xsd:string' />
      <xsd:element name='Tidligereformat' type='xsd:string' />
      <xsd:element name='Tidligereformatdetaljer' type='xsd:string' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='UtførtKassasjon'>
    <xsd:annotation>
      <xsd:documentation>Metadata for utført kassasjon¤¤¤¤¤
 ¤¤¤¤¤
Grupperes inn i:       Dokumentbeskrivelse¤¤¤¤¤
Forekomst:               0-1¤¤¤¤¤
 ¤¤¤¤¤
Ved kassasjon skal dokumentobjektet slettes. ¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name='Kassertdato' type='xsd:dateTime' />
      <xsd:element name='Kassertav' type='xsd:string' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='SlettingAvDokumenter'>
    <xsd:annotation>
      <xsd:documentation>Metadata for sletting av dokumenter¤¤¤¤¤
 ¤¤¤¤¤
Grupperes inn i:       Arkivdel, dokumentbeskrivelse¤¤¤¤¤
Forekomst:               0-M¤¤¤¤¤
 ¤¤¤¤¤
Ved sletting av tidligere versjoner (siste versjon kan ikke slettes), produksjonsformat og varianter skal metadata grupperes inn i dokumentbeskrivelse. De tilhørende dokumentobjekter skal da slettes. ¤¤¤¤¤
 ¤¤¤¤¤
Ved sletting av innholdet i en arkivdel (som ikke har bevaringsverdi), skal alle mapper og underordnede arkivenheter som tilhørere arkivdelen slettes. ¤¤¤¤¤
 ¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name='Slettingstype' type='xsd:string' />
      <xsd:element name='Slettetdato' type='xsd:dateTime' />
      <xsd:element name='Slettetav' type='xsd:string' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='Avlevering'>
    <xsd:annotation>
      <xsd:documentation>Metadata for avlevering¤¤¤¤¤
 ¤¤¤¤¤
Metadata for avlevering skal avleveres som en egen fil.¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name='Ansvarligeksport' type='xsd:string' />
      <xsd:element name='Eksportertdato' type='xsd:dateTime' />
      <xsd:element name='Antallmappereksportert' type='xsd:string' />
      <xsd:element name='AntallregistreringerEksportert' type='xsd:string' />
      <xsd:element name='AntalldokumenterEksportert' type='xsd:string' />
      <xsd:element name='Sjekksummetadata' type='xsd:string' />
      <xsd:element name='Sjekksumavlevering' type='xsd:string' />
      <xsd:element name='Sjekksumalgoritme' type='xsd:string' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='Endringslogg'>
    <xsd:annotation>
      <xsd:documentation>Metadata for endringslogg¤¤¤¤¤
 ¤¤¤¤¤
Metadata for endringslogg skal ikke grupperes inn i en annen arkivenhet, men avleveres som en egen fil.  Endringsloggen må derfor ha referanse til hvilken arkivenhet endringen tilhører, og hvilket metadataelement som er blitt endret. ¤¤¤¤¤
 ¤¤¤¤¤
Ikke alle endringer skal avleveres. Aktuelle endringer kan  være  endring av saksstatus, journal-status, tilgangsrestriksjon, klassifikasjon (referanse til klasse), saksansvarlig, saksbehandler. Nærmere spesifikasjon av hvilke endringer som skal avleveres, vil komme i en senere versjon. ¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name='Referansearkivenhet' type='xsd:string' />
      <xsd:element name='Referansemetadata' type='xsd:string' />
      <xsd:element name='Endretdato' type='xsd:dateTime' />
      <xsd:element name='Endretav' type='xsd:string' />
      <xsd:element name='Tidligereverdi' type='xsd:string' />
      <xsd:element name='Nyverdi' type='xsd:string' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='Brukeradministrasjon'>
    <xsd:annotation>
      <xsd:documentation>Metadata for brukeradministrasjon¤¤¤¤¤
 ¤¤¤¤¤
Metadata for brukeradministrasjon skal ikke avleveres, men skal kunne migreres mellom systemer. Slik migrering kan omfatte flere metadata en det som er listet opp her.¤¤¤¤¤
 ¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name='Brukernavn' type='xsd:string' />
      <xsd:element name='Brukerrolle' type='xsd:string' />
      <xsd:element name='Opprettetdato' type='xsd:dateTime' />
      <xsd:element name='Opprettetav' type='xsd:string' />
      <xsd:element name='Avsluttetdato' type='xsd:dateTime' />
      <xsd:element name='Brukerstatus' type='xsd:string' />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name='Administrasjonsstruktur'>
    <xsd:annotation>
      <xsd:documentation>Metadata for administrasjonsstruktur¤¤¤¤¤
 ¤¤¤¤¤
Metadata for administrasjonsstruktur skal ikke avleves, men skal kunne migreres mellom systemer. Slik migrering kan omfatte flere metadata enn det som er listet opp her. ¤¤¤¤¤
 ¤¤¤¤¤
</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name='Administrativenhetnavn' type='xsd:string' />
      <xsd:element name='Opprettetdato' type='xsd:dateTime' />
      <xsd:element name='Opprettetav' type='xsd:string' />
      <xsd:element name='Avsluttetdato' type='xsd:dateTime' />
      <xsd:element name='Administrativenhetsstatus' type='xsd:string' />
      <xsd:element name='ReferanseoverordnetEnhet' type='xsd:string' />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>